{extend name="public/base"}

{block name="content"}
<div class="album-content w1000"  id="layer-photos-demo" class="layer-photos-demo">
    <div class="img-info">
      <img src="{$albumInfo[0]->path}" alt="{$albumInfo[0]->picdesc}" width="700px" >
      <div class="title">
        <p class="data">{if  time()- strtotime($albumInfo[0]->create_time) < 86400}今日上传{else /}较早上传{/if}<span>{$albumInfo[0]->create_time|date="Y-m-d"}</span></p>
        <p class="text">{$albumInfo[0]->picdesc}</p>
      </div>
    </div>
    <div class="img-list">
      <div class="layui-fluid" style="padding:0">
        <div class="layui-row layui-col-space30 space">
            {volist name="albumInfo" id="vo"}
          <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
            <div class="item" style="overflow:hidden; " >
              <img src="{$vo.path}" alt="{$vo.picdesc|raw}" width="240px" height="160px">
              <div class="cont-text">
                <div class="data">{$vo.create_time|date="Y-m-d"}</div>
                <p class="address"><i class="layui-icon layui-icon-location"></i><span>{$vo.map}</span></p>
                <p class="briefly">{$vo.picdesc|raw}</p>
              </div>
            </div>
          </div>
          {/volist}
        </div>
      </div>
      <div id="page" style="text-align: left"><div class="layui-box layui-laypage layui-laypage-default">{$albumInfo->render()|raw} </div></div>
    </div>
  </div>
{/block}

{block name="js"}
<script type="text/javascript" src="/static/res/layui/layui.js"></script>
<script type="text/javascript">
 layui.config({
    base: '/static/res/js/util/'
  }).use(['element','laypage','form','layer','menu'],function(){
    element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
   
    layer.photos({
      photos: '#layer-photos-demo'
      ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
      ,tab:function(pic,layero){
        console.log(pic,layero)
      }
    });
    menu.init(); 
  })
</script>
{/block}