{extend name="public/base"}
{block name="title"}
听说你想对我说悄悄话？-{$webInfo.webname}
{/block}

{block name="content"}
<div class="content whisper-content leacots-content">
        <div class="cont w1000">
          <div class="whisper-list">
            <div class="item-box">
              <div class="review-version">
                  <div class="form-box">
                    <img class="banner-img" src="/static/res/img/liuyan.jpg">
                    <div class="form">
                      
                        <div class="layui-form-item layui-form-text">
                          <div class="layui-input-block">
                            <!-- <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea> -->
                            <div id="content"></div>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <div class="layui-input-block" style="text-align: right;">
                            <button class="layui-btn" id="speekBtn">留言</button>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                  <div class="volume">
                    全部留言 <span>{$messageInfo->count()}</span>
                  </div>
                  <div class="list-cont">     
                      {volist name="messageInfo" id="vo"}   
                    <div class="cont">
                      <div class="img">
                        <img src="/static/res/img/header.png" alt="">
                      </div>
                      <div class="text">
                        <p class="tit"><span class="name">{$vo.member.nickname}</span><span class="data">{$vo.create_time}</span></p>
                        <p class="ct">{$vo.content|raw}</p>
                      </div>
                    </div>
                    {/volist}
                  </div>
              </div>
            </div>
          </div>
          <div id="page"><div class="layui-box layui-laypage layui-laypage-default">{$messageInfo->render()|raw}</div></div>
        </div>
      </div>
{/block}

{block name="js"}
<script type="text/javascript" src="/static/res/layui/layui.js"></script>
<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/js/wangEditor.min.js"></script>
<script type="text/javascript">
 layui.config({
    base: '/static/res/js/util/'
  }).use(['element','laypage','form','menu'],function(){
    element = layui.element,laypage = layui.laypage,form = layui.form,menu = layui.menu;
    menu.init();
    menu.submit()
  })
</script>
<script>
var E = window.wangEditor;
  var editor=new E(document.getElementById("content"));
  var num=0;
  editor.create();
  editor.txt.html('<p>来留个言呗</p>')

  $(function(){
    $("#speekBtn").click(function(){

          if(editor.txt.text() == ""){
                    layer.msg("留言内容不能为空噢~",{
                        icon:5,
                        anim:6,
                        time:2000
                    })
                    return false;
                }

      if("{:session('?index.id')}"){
        $.ajax({
          url:"{:url('index/message/speek')}",
          type:'post',
          data:{member_id:"{:session('index.id')}",content:editor.txt.html()},
          dataType:'json',
          success:function(data){
            if(data.code == 1){
              layer.msg(data.msg,{
                icon:6,
                time:2000
              },function(){
                location.reload();
              })
            }else{
              layer.msg(data.msg,{
                icon:5,
                anim:6,
                time:2000
              })
            }
          }
        });
      }else{
        layer.msg('要先登陆才能留言哟~',{
          icon:5,
          anim:6,
          time:2000
        },function(){
          location.href="{:url('index/index/register')}";
        });
      }
    });
  });
</script>
{/block}