{extend name="public/base" /}
{block name="title"}
轻声细语也能道尽人生~{$webInfo.webname}
{/block}
{block name="content"}
<div class="content whisper-content">
    <div class="cont">
      <div class="whisper-list">
        {volist name="whisperInfo" id="vo"}
        <div class="item-box">
          <div class="item">
            <div class="whisper-title">
              <i class="layui-icon layui-icon-date"></i><span class="hour">{$vo.create_time|date="H:i"}</span><span class="date">{$vo.create_time|date="Y-m-d"}</span>
            </div>
            <p class="text-cont">
              {$vo.content|raw}
            </p>
            <div class="img-box">
              <img src="{$vo.image}" alt="微语配图" width="100%">
              
            </div>
            <div class="op-list">
              <p class="like"><i class="layui-icon layui-icon-praise"></i><span>1200</span></p> 
              <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>{$commens->where('whisper_id',$vo.id)->count()}</span></p>
              <p class="off"><span>展开</span><i class="layui-icon layui-icon-down"></i></p>
            </div>
          </div>
          <div class="review-version layui-hide">
              <div class="form">
                <img src="/static/res/img/header2.png">
                <form>
                  <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                      <textarea name="content" class="layui-textarea" id="content{$vo.id}"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: right;">
                      <button class="layui-btn" type="button" onclick="subBtn(this,'{$vo.id}')">评论</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="list-cont">
                {volist name="commens" id="voo"}
                {if $voo.whisper_id == $vo.id}
                <div class="cont">
                  <div class="img">
                    <img src="/static/res/img/header.png" alt="{$voo.member.nickname}">
                  </div>
                  <div class="text">
                    <p class="tit"><span class="name">{$voo.member.nickname}</span><span class="data">{$voo.create_time}</span></p>
                    <p class="ct">{$voo.content}</p>
                  </div>
                </div>
                {/if}
                {/volist}
              </div>
          </div>
        </div>
        {/volist}
              </div>
          </div>
        </div>
      
      
      <div id="page"><div class="layui-box layui-laypage layui-laypage-default">{$whisperInfo->render()|raw} </div></div>
      </div>
    
      
      <script src="/static/res/layui/layui.all.js"></script>
      <script type="text/javascript">
        layui.config({
           base: '/static/res/js/util/'
         }).use(['element','laypage','form','menu'],function(){
           element = layui.element,laypage = layui.laypage,form = layui.form,menu = layui.menu;
           
           menu.init();
           menu.off();
           
         })
       </script>
       
       <script>
       function subBtn(obj,id){
        if("{:session('?index.id')}"){
          $.ajax({
            url:"{:url('index/whisper/speek')}",
            type:"post",
            data:{member_id:"{:session('index.id')}",whisper_id:id,content:$("#content"+id).val()},
            dataType:'json',
            success:function(data){
              if(data.code == 1){
                layer.msg(data.msg,{
                icon:6,
                time:2000
              },function(){
                location.reload();
              });
              }else{
                layer.msg(data.msg,{
                  icon:5,
                  anim:6,
                  time:2000
                });
              }
            }
          });
        }else{
          layer.msg('要登陆之后才能作妖噢~',{
            icon:5,
            anim:6,
            time:2000
          },function(){
            location.href="{:url('index/index/register')}";
          });
        }
         return false;
       }
       </script>
{/block}

{block name="js"}
<script src="/static/js/jquery-3.4.1.js"></script>
{/block}